<div class="row justify-content-center">  
  <div class="col-xs-1">
    <label for="sel"> Type</label>
    <select id="sel" [(ngModel)]="type" class="form-control">
      <option value="2MA" >Two moving averages</option>
      <option value="BB" >Bollinger bands</option>
      <option value="PB" >Price breakout</option>
    </select>
  </div>
  
  <div class="col-xs-1">
    <label for="a">Stock</label>
    <input id="a" class="form-control" type="text" [(ngModel)]="stock" />
  </div>
  
  
  <div class="col-xs-1">
    <label for="b">Size</label>
    <input id="b" class="form-control"  type="number" step="100" [(ngModel)]="size" />
  </div>
  <!-- 2MA -->

  <div class="col-xs-1">
    <label for="c" *ngIf="type == '2MA' ">Short</label>
    <input id="c" class="form-control"  *ngIf="type == '2MA' " type="number" min="30" step="15" [(ngModel)]="lengthShort" />
  </div>

  <div class="col-xs-1">
    <label for="j" *ngIf="type == '2MA' ">Long</label>
    <input id="j" class="form-control"  *ngIf="type == '2MA' " type="number" min="45" step="15" [(ngModel)]="lengthLong" />
  </div>

  <!-- BB   author: Winston Liu-->
  <div class="col-xs-1">
    <label for="e" *ngIf="type == 'BB' || type == 'PB' ">Time Period</label>
    <input class="form-control" id="e" *ngIf="type == 'BB' || type == 'PB' " type="number" min="60" step="15" [(ngModel)]="timePeriod" />
  </div>

  <div class="col-xs-1">
    <label for="g"*ngIf="type == 'BB'">Multiple</label>
    <input class="form-control" id="g" *ngIf="type == 'BB' " type="number" min="1" step="1" [(ngModel)]="multiple" />
  </div>

   <!-- PB   author: Winston Liu-->
   <div class="col-xs-1">
    <label for="r"*ngIf="type == 'PB'">Repeat</label>
    <input class="form-control" id="r" *ngIf="type == 'PB' " type="number" min="2" step="1" [(ngModel)]="repeat" />
  </div>
  
  <div class="col-xs-1">
    <label for="n">Exit</label>
    <input class="form-control" id="n" type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold" />
  </div>

  
  <input class="btn btn-primary" type="button" value="Create" (click)="create()" />
  
</div>
