.right {
  text-align: right;
}

.left {
  text-align: left;
}

.oddWinner {
  background-color: green;
}

.evenWinner {
  background-color: darkgreen;
}

.oddLoser {
  background-color: darkred;
}

.evenLoser {
  background-color: red;
}

/* table {
  border-collapse: collapse;
}

thead th {
  margin-bottom: 6px;
  padding: 8px 6px;
}

tbody tr {
  border: 1px solid grey;
}

tbody td {
  padding: 8px 6px;
}

tbody td.narrow {
  padding-left: 0;
}

tbody td.wide {
  padding-left: 12px;
}

tbody td.indent {
  padding-right: 12px;
}

tfoot td {
  font-weight: bold;
  margin-top: 8px;
}

tfoot td.indent {
  padding-right: 12px;
} */

/* input[type="button"] {
  background-color: white;
  padding: 6px;
} */

input[type="image"] {
  height: 24px;
  margin-top: 2px;
  border: 2px outset #ccc;
}

h1 {
  color: white
}
h2 {
  color: white
}
h3 {
  color: white
}