<br/><br/>
<div class="row justify-content-center">
  <div class="card" style="width: 18rem; background-color:#3b3d40">
    <div class="card-body">
      <h5 class="card-title" style="color: white">Total number of trades</h5>
      <h3 class="card-text" style="color: white">{{getTotalTrades()}}</h3>
    </div>
  </div>
<div style="padding-left: 50px"></div>
  <div class="card" style="width: 18rem; background-color: #3b3d40; ">
    <div class="card-body">
      <h5 class="card-title" style="color: white">Total Profit</h5>
      <h3 class="card-text" style="color: white">{{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</h3>
    </div>
  </div>
</div>
<br/><br/>
<div class="row justify-content-center">
  <h3>2MA Table</h3>
  </div>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th class="right" >Short</th>
      <th class="right" >Long</th>
      <th class="right" >Exit</th>
      <th>State</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders | traderpipe: '2MA'; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td class="right" >{{minSec(trader.lengthShort)}}</td>
      <td class="right" >{{minSec(trader.lengthLong)}}</td>
      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>
        <input
          id="trader.ID"
          type="button"
          class="btn btn-warning" 
          [value]="getState(trader)"
          [disabled]="getState(trader) ==  'Stopping' "
          (click)="startOrStop(trader, false)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td>
        <input type = "button" class="btn btn-warning"  value = "Display History" (click) = "display_history(trader.ID)"/> 
      </td>
    </tr>
   </tbody>
</table>

<br>
<br>
<br>
<div class="row justify-content-center">
<h3>BB Table</h3>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th class="right" >TimePeriod</th>
      <th class="right" >Multiple</th>
      <th class="right" >Exit</th>
      <th>State</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders | traderpipe: 'BB'; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td class="right" >{{minSec(trader.timePeriod)}}</td>
      <td class="right" >{{trader.multiple}}</td>
      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>
        <input
          id="trader.ID"
          type="button"
          class="btn btn-warning"
          [value]="getState(trader)"
          [disabled]="getState(trader) ==  'Stopping' "
          (click)="startOrStop(trader, false)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td>
        <input type = "button" class="btn btn-warning" value = "Display History" (click) = "display_history(trader.ID)"/> 
      </td>
    </tr>
   </tbody>
</table>

<br>
<br>
<br>
<div class="row justify-content-center">
<h3>PB Table</h3>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th class="right" >TimePeriod</th>
      <th class="right" >RepeatTime</th>
      <th class="right" >Exit</th>
      <th>State</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trader of traders | traderpipe: 'PB'; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td class="right" >{{minSec(trader.timePeriod)}}</td>
      <td class="right" >{{trader.repeat}}</td>
      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>
        <input
          id="trader.ID"
          type="button"
          class="btn btn-warning"
          [value]="getState(trader)"
          [disabled]="getState(trader) ==  'Stopping' "
          (click)="startOrStop(trader, false)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td *ngIf="trader.trades > 1" class="right" >{{trader.ROI | percent:'1.4-4'}}</td>
      <td *ngIf="trader.trades == 0" class="right" >{{0}}</td>
      <td>
        <input type = "button" class="btn btn-warning" value = "Display History" (click) = "display_history(trader.ID)"/> 
      </td>
    </tr>
   </tbody>
</table>

<br>
<br>
<br>

<br>
<br>


<table class="table table-dark" *ngIf = "display">
    <thead>
        <h3>Trade History for Trader {{traderID}}</h3>
      <tr>
          <th class="left">Stock</th>
          <th class="left" >OpeningTradeTime</th>
          <th class="left" >Size</th>
          <th class="left" >Price</th>
          <th class="left" >ClosingTradeTime</th>
          <th class="left" >Size</th>
          <th class="left" >Price</th>
          <th class="left" >Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let position of getTrader(traderID).positions; let i = index"
      >
      <td>{{position.openingTrade.stock}}</td>
      <td>{{position.openingTrade.when | date:'medium'}}</td>
      <td>{{position.openingTrade.size}}</td>
      <td>{{position.openingTrade.price | currency:'USD':'symbol':'1.2-2'}}</td>
      <td *ngIf = "position.closingTrade!=null">{{position.closingTrade.when | date:'medium'}}</td>
      <td *ngIf = "position.closingTrade==null"> N/A </td>
      <td *ngIf = "position.closingTrade!=null">{{position.closingTrade.size}}</td>
      <td *ngIf = "position.closingTrade==null"> 0 </td>
      <td *ngIf = "position.closingTrade!=null">{{position.closingTrade.price | currency:'USD':'symbol':'1.2-2'}}</td> 
      <td *ngIf = "position.closingTrade==null"> 0</td>
      <td>{{position.profitOrLoss | currency:'USD':'symbol':'1.2-2' }}</td>

      </tr>
     </tbody>

    
     <tfoot>
       
     </tfoot>
  </table>
  <br/><br/><br/>
  <app-graph-profit [totalProfit]=totalProfitArray>

  </app-graph-profit>

