<!--The content below is only a placeholder and can be replaced.-->
<body>
<div class="jumbotron">
    <h1 style="background:transparent !important" class="display-4"><img style="float: right;" src="../assets/citigrouplogo.jpg" height="80px">{{title}}</h1>
</div>

<trader-toolbar></trader-toolbar>
<hr width="100%" />
<trader-table></trader-table>


<router-outlet></router-outlet>
</body>
