@import "~bootstrap/dist/css/bootstrap.css";
body {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 11pt;
  padding: 8px;  
  background-color: black;
}

h1 {
  font-size: 16pt;
  margin-top: 0;
  text-align: center;
  color: white;
}

h2 {
  font-size: 14pt;
  text-align: center;
  color: white;
}
